* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 1px;
}

/*** 通用样式 ***/
.block {
    position: relative;
    width: 100%;
    padding: 100px;
    overflow: hidden;
    opacity: 0;
    transform: translateY(15px);
    transition: transform .5s .2s ease-out, opacity .5s linear;
}
.main {
    position: relative;
    float: left;
    width: 80%;
}
.icon {
    float: left;
    width: 20%;
}
.icon i {
    display: block;
    width: 50px;
    height: 50px;
}
.icon-text {
    position: relative;
    margin-bottom: 20px;
    font-weight: bold;
}
.icon-text::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 50px;
    height: 4px;
}
ul li {
    list-style: none;
}
a {
    text-decoration: none;
    cursor: pointer;
}
.cover {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .3);
    z-index: 10;
    display: none;
    cursor: pointer;
}

/*** NAV ***/ 
.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: rgb(34, 125, 170);
    box-shadow: 0px 2px 10px rgba(0, 0, 0, .2);
    line-height: 70px;
    font-size: 20px;
    font-weight: bold;
    z-index: 9;
    color: #FFF;
    transition: all .5s .3s ease-in-out;
    overflow: hidden;
}
.nav:hover {
    height: 70px !important; /* 悬停一定是70px */
}
.nav .title {
    float: left;
    width: 120px;
    margin-left: 140px;
    font-size: 25px;
    cursor: pointer;
    position: relative;
    color: #FFF;
}
.nav .title::after {
    content: '';
    position: absolute;
    top: 10px;
    left: -10px;
    height: 44px;
    width: 140px;
    border: 3px solid #FFF;
    transition: opacity .3s linear;
    opacity: 0;
}
.nav .title:hover::after {
    opacity: 1;
}
.nav-list {
    display: flex;
    float: right;
    justify-content: center;
    align-items: center;
    width: 65%;
    text-align: center;
}
.nav-list li {
    position: relative;
    flex: 1 1 auto;
    float: left;
    cursor: pointer;
}
.nav-list li::after {
    content: '';
    position: absolute;
    bottom: 10px;
    left: 100%;
    width: 0;
    height: 100%;
    border-bottom: 3px solid #FFF;
    transition: all .2s .1s linear;
}
.nav-list li:hover::after {
    left: 0;
    width: 100%;
}
.nav-list li:hover ~ li::after {
    left: 0;
}
.nav-list .nav-selected::after {
    content: '';
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 100%;
    height: 100%;
    border-bottom: 3px solid #FFF;
}
/*** HEADER **/
.header {
    position: relative;
    width: 100%;
    height: 500px;
    color: #FFF;
    background: linear-gradient(to bottom, rgba(34,125,170,1) 0%, rgba(81,172,205,1) 100%);
    padding: 100px;
}
.introduction {
    position: absolute;
    left: 100px;
    top: 50%;
    height: 120px;
    margin-top: -60px;
    color: #FFF;
    overflow: hidden;
    opacity: 0;
    transform: translateY(30px);
    transition: transform .5s .2s ease-out, opacity .5s ease-out;
}
.introduction .introduction-job {
    font-size: 50px;
    font-weight: bold;
    position: relative;
    margin-bottom: 30px;
}
.introduction .introduction-job::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 50px;
    height: 4px;
    background-color: #FFF;
}
.introduction .introduction-description {
    font-size: 16px;
}

/*** ABOUT ***/
.about {
    color: rgb(34, 125, 170);
}
.about .icon-text::after {
    background-color: rgb(34, 125, 170);
}
.icon-about {
    background: url('icons/icons-sprites.png') -310px -10px;
}
.information {
    color: #58798C;
}
.information .information-name {
    margin-bottom: 10px;
}

/*** EXPERIENCS ***/
.experience{
    color: #FFF;
    background: linear-gradient(to bottom, rgba(34,125,170,1) 0%, rgba(81,172,205,1) 100%);
}
.experience .icon-text::after {
    background-color: #FFF;
}
.icon-experience {
    background: url('icons/icons-sprites.png') -310px -150px;
}
.experience-list li {
    padding: 20px;
    border: 1px solid #FFF;
    border-radius: 10px;
    transition: background-color .2s ease-in-out;
}
.experience-list li:not(:last-child) {
    margin-bottom: 50px;
}
.experience-list li:hover {
    background-color: rgba(255, 255, 255, .1);
}
.experience-name a {
    display: inline-block;
    width: 20px; height: 20px;
    background: url('icons/icons-sprites.png') -450px -357px;
}
.experience-time {
    margin: 10px 0;
    color: #AAC7D9;
}
.experience-introduction, .experience-job {
    margin-top: 10px;
    color: #DEEEF5;
}

/*** SKILLSET ***/
.skillset {
    color: rgb(34, 125, 170);
}
.skillset .icon-text::after {
    background-color: rgb(34, 125, 170);
}
.icon-skillset {
    background: url('icons/icons-sprites.png') -380px -150px;
}
.skill-list {
    float: left;
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.skill-list li {
    flex: 0 1 50%;
    display: inline-block;
    height: 70px;
    cursor: pointer;
    padding-right: 100px;
}
.skill-list li:not(:last-of-type) {
    margin-bottom: 10px;
}
.skill-percentage {
    margin-top: 5px;
    position: relative;
    height: 10px;
    background-color: #DEEEF5;
    display: none;
}
.skill-percentage::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background: linear-gradient(to right, rgba(34,125,170,1) 0%, rgba(81,172,205,1) 100%);
    animation: percentage-load  1s ease-in both;
}
.skill-percentage::before {
    content: attr(data-percentage);
    position: absolute;
    bottom: 12px;
    left: 68%;
    transform: translateX(-50%);
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 25px;
    color: #FFF;
    font-size: 12px;
    border-radius: 50%;
    background: url('icons/icons-sprites.png') -450px -212px;;
    transition: all .3s ease-in-out;
    opacity: 0;
}
/** 设置各个进度各自的值 **/
.skill-list li:nth-of-type(1) .skill-percentage::after {
    width: 70%;
}
.skill-list li:nth-of-type(1) .skill-percentage::before {
    left: 70%;
}
.skill-list li:nth-of-type(2) .skill-percentage::after {
    width: 65%;
}
.skill-list li:nth-of-type(2) .skill-percentage::before {
    left: 65%;
}
.skill-list li:nth-of-type(3) .skill-percentage::after {
    width: 60%;
}
.skill-list li:nth-of-type(3) .skill-percentage::before {
    left: 60%;
}
.skill-list li:nth-of-type(4) .skill-percentage::after {
    width: 55%;
}
.skill-list li:nth-of-type(4) .skill-percentage::before {
    left: 55%;
}
.skill-list li:nth-of-type(5) .skill-percentage::after {
    width: 45%;
}
.skill-list li:nth-of-type(5) .skill-percentage::before {
    left: 45%;
}
.skill-list li:nth-of-type(6) .skill-percentage::after {
    width:50%;
}
.skill-list li:nth-of-type(6) .skill-percentage::before {
    left: 50%;
}
.skill-list li:nth-of-type(7) .skill-percentage::after {
    width: 35%;
}
.skill-list li:nth-of-type(7) .skill-percentage::before {
    left: 35%;
}
.skill-list li:nth-of-type(8) .skill-percentage::after {
    width: 45%;
}
.skill-list li:nth-of-type(8) .skill-percentage::before {
    left: 45%;
}
.skill-level {
    display: flex;
    justify-content: space-around;
    align-items: center;
    opacity: 0;
    transition: all .3s ease-in-out;
}
.skill-level p {
    flex: 0 1 25%;
    text-align: right;
}
.skill-list li:hover .skill-percentage::before {
    opacity: 1;
}
.skill-list li:hover .skill-level {
    opacity: 1;
}
@keyframes percentage-load {
    0% {
        width: 0;
    }
    100% {

    }
}
.skill-introduction {
    float: right;
    width: 30%;
}
.skill-introduction div {
    margin-bottom: 10px;
}
.skill-introduction h3 {
    margin: 5px;
    position: relative;
    width: auto;
    padding-left: 8px; 
}
.skill-introduction h3::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 3px;
    height: 90%;
    background-color: rgb(34,125,170);
}
.skill-introduction p {
    font-size: 12px;
    margin: 5px;
}

/***EDUCATION ***/
.education {
    color: #FFF;
    background: linear-gradient(to bottom, rgba(34,125,170,1) 0%, rgba(81,172,205,1) 100%);
}
.education .icon-text::after {
    background-color: #FFF;
}
.icon-education {
    background: url('icons/icons-sprites.png') -150px -310px;
}
.education-time {
    color: #AAC7D9;
}
.education-profession {
    margin: 10px 0;
}
.education-school {
    color: #DEEEF5;
}
.education-books {
    margin-top: 10px;
    color: #DEEEF5;
}

/*** WORKS ***/
.works {
    color: rgb(34, 125, 170);
}
.works .icon-text::after {
    background-color: rgb(34, 125, 170);
}
.icon-works {
    background: url('icons/icons-sprites.png') -220px -310px;
}
.work-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.work-list > li {
    flex: 0 1 30%;
    margin-bottom: 50px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .2);
    overflow: hidden;
    transition: all .4s linear;
    display: none;
}
/** 前六个默认显示出来 **/
.work-list > li:nth-of-type(1),
.work-list > li:nth-of-type(2),
.work-list > li:nth-of-type(3),
.work-list > li:nth-of-type(4),
.work-list > li:nth-of-type(5),
.work-list > li:nth-of-type(6) {
    display: block;
}
.work-list > li:hover {
    transform: translateY(-10px);
}
.work-img{
    position: relative;
    width: 100%;
    display: block;
    cursor: pointer;
    transition: all .3s linear;
}
.work-information {
    background: rgba(34,125,170,1);
    color: #FFF;
    padding: 10px 15px;
}
.work-name {
    display: block;
    font-weight: bold;
}
.work-name a {
    display: inline-block;
    margin-left: 3px;
    width: 15px;
    height: 15px;
    background: url('icons/icons-sprites.png') -450px -397px;
    cursor: pointer;
}
.work-information hr {
    border: none;
    height: 1px;
    background-color: #FFF;
    margin: 10px auto;
}
.work-technology-list {
    display: flex;
    justify-content: start;
}
.work-technology-list li {
    flex: 0 1 auto;
    margin-right: 10px;
    text-align: center;
    padding: 5px 10px;
    height: 25px;
    line-height: 15px;
    font-size: 12px;
    background-color: #FFF;
    color: rgb(34, 125, 170);
    border-radius: 4px;
}
.work-rest {
    display: block;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    background: url('icons/icon-more.png') 0px 0px;
    cursor: pointer;
}
.work-rest:hover {
    animation: more-repeat 1s linear infinite both;
}
@keyframes more-repeat {
    0% {
        transform: translateY(0px);
    }
    10% {
        transform: translateY(4px);
    }
    20% {
        transform: translateY(8px);
    }
    30% {
        transform: translateY(12px);
    }
    40% {
        transform: translateY(16px);
    }
    50% {
        transform: translateY(20px);
    }
    60% {
        transform: translateY(16px);
    }
    70% {
        transform: translateY(12px);
    }
    80% {
        transform: translateY(8px);
    }
    90% {
        transform: translateY(4px);
    }
    100% {
        transform: translateY(0px);
    }
}

/*** NOTES ***/
.notes {
    color: #FFF;
    background: linear-gradient(to bottom, rgba(34,125,170,1) 0%, rgba(81,172,205,1) 100%);
}
.notes .icon-text::after {
    background-color: #FFF;
}
.icon-notes {
    background: url('icons/icons-sprites.png') -380px -10px;
}
.note-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.note-list > li {
    position: relative;
    display: inline-block;
    width: 50%;
    margin: 10px 0;
}
.note-description {
    position: relative;
    left: 17.5%;
    width: 65%;
    height: 300px;
    padding: 30px 30px 30px 19%;
    color: #FFF;
    border-radius: 4px;
    transition: all .5s linear;
    perspective: 1000px;
    cursor: pointer;
}
.note-description img {
    position: absolute;
    top: 50%;
    left: 0;
    width: 35%;
    transform: translate(-50%, -50%);
    z-index: 8;
    transform-style: preserve-3d;
    transition: all .5s linear;
}
.note-description h3 + p {
    color: #AAC7D9;
    font-size: 10px;
}
.note-description p {
    margin: 8px 0;
    font-size: 12px;
}
.note-description button {
    position: absolute;
    bottom: 30px;
    width: 70px;
    height: 30px;
    border: none;
    border-radius: 3px;
    background-color: #AAC7D9;
    color: #FFF;
    cursor: pointer;
    outline: none;
    transition: all .5s linear;
}
.note-description:hover {
    background-color: rgb(34,125,170);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}
.note-description:hover img {
    transform: translate(-50%, -50%) rotateY(30deg);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}
.note-description:hover button {
    color: rgb(34, 125, 170);
    background-color: #FFF;
}
.note-details {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 45%;
    height: 65%;
    transform: translate(-50%, -50%);
    background-color: #FFF;
    color: rgb(34, 125, 170);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    border-radius: 5px;
    z-index: 11;
    /*** 显示注释 ***/
    display: none;  
}
@keyframes detail-fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.note-details .img-bg {
    float: left;
    width: 30%;
    height: 100%;
    border-radius: 5px 0 0 5px;
}
.note-details img {
    position: absolute;
    top: 50%;
    left: 0;
    width: 30%;
    transform: translate(10%, -50%);
    box-shadow: 0 0 10px rgba(0, 0, 0, .4);
}
.note-header {
    position: relative;
    float: right;
    width: 65%;
    padding: 15px  15px;
    height: 10%;
}
.note-header p {
    font-size: 12px;
    color: #AAC7D9;
}
.note-header i {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}
/** 设置各自颜色的按钮 **/
.note-list > li:nth-of-type(1) .note-header i {
    background: url('icons/icons-sprites.png') -450px -162px;
}
.note-list > li:nth-of-type(2) .note-header i {
    background: url('icons/icons-sprites.png') -450px -262px;
}
.note-list > li:nth-of-type(3) .note-header i {
    background: url('icons/icons-sprites.png') -450px -112px;
}
.note-list > li:nth-of-type(4) .note-header i {
    background: url('icons/icons-sprites.png') -450px -62px;
}
.note-content {
    float: right;
    width: 65%;
    height: 90%;
    padding: 0 30px;
    overflow-y: auto;
}
/** 修改滚动条样式 **/
.note-content::-webkit-scrollbar {
  width: 15px;
}
.note-content::-webkit-scrollbar-track,
.note-content::-webkit-scrollbar-thumb {
  border-radius: 99px;
  border: 5px solid transparent;
}
.note-content::-webkit-scrollbar-track {
  box-shadow: 1px 1px 5px rgba(0,0,0,.2) inset;
}
/** 设置不同的滚动条颜色 **/
.note-list > li:nth-of-type(1) .note-content::-webkit-scrollbar-thumb  {
    box-shadow: 0 0 0 5px rgb(23, 88, 168) inset;
}
.note-list > li:nth-of-type(2) .note-content::-webkit-scrollbar-thumb  {
    box-shadow: 0 0 0 5px rgb(247, 223, 29) inset;
}
.note-list > li:nth-of-type(3) .note-content::-webkit-scrollbar-thumb  {
    box-shadow: 0 0 0 5px rgb(17, 105, 174) inset;
}
.note-list > li:nth-of-type(4) .note-content::-webkit-scrollbar-thumb  {
    box-shadow: 0 0 0 5px rgb(34, 34, 34) inset;
}
.note-content li {
    margin: 10px 0;
    list-style: decimal;
    letter-spacing: 0px;
    font-size: 13px;
    word-wrap: break-word;
}
.note-css .note-details .img-bg {
    background-color: rgb(23, 88, 168);
}
.note-js .note-details .img-bg {
    background-color: rgb(247, 223, 29);
}
.note-jq .note-details .img-bg {
    background-color: rgb(17, 105, 174);
}
.note-react .note-details .img-bg {
    background-color: rgb(34, 34, 34);
}

/*** COLLECTIONS ***/
.collections {
    color: rgb(34, 125, 170);
}
.collections .icon-text::after {
    background-color: rgb(34, 125, 170);
}
.icon-collections {
    background: url('icons/icons-sprites.png') -310px -220px;
}
.collection-list {
    position: relative;
    overflow: hidden;
    height: 500px;
    border-radius: 15px;
}
.collection-list > li {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    color: #FFF;
    width: 100%;
    height: 500px;
    border-radius: 15px;
    transition: all 1s linear;
    text-align: center;
    padding: 20px;
}
.collection-list > li::after {
    content: '';
    position: absolute;
    top: 0;
    right: -38px;
    width: 40px;
    height: 25%;
    border-radius: 0 15px 15px 0;
    z-index: 1;
    cursor: pointer;
}
.collection-list > li:hover ~ li {
    transform: translateX(-100%);
}
.collection-list .collection-website {
    background-color: rgb(34,125,170);
    width: 78%;
    border-top-right-radius: 0;
    z-index: 5;
}
.collection-list .collection-website::after {
    background-color: rgb(34,125,170);
}
.collection-list .collection-blog {
    background-color: rgb(57, 148, 187);
    width: 82%;
    z-index: 4;
}
.collection-list .collection-blog::after {
    background-color: rgb(57, 148, 187);
    top: 25%;
}
.collection-list .collection-book {
    background-color: rgb(81,172,205);
    width: 86%;
    z-index: 3;
}
.collection-list .collection-book::after {
    background-color: rgb(81,172,205);
    top: 50%; 
}
.collection-list .collection-other {
    background-color: #AAC7D9;
    width: 90%;
    border-bottom-right-radius: 0;
    z-index: 2;
}
.collection-list .collection-other::after {
    background-color: #AAC7D9;
    top: 75%;   
}
.collection-list li .collection-content {
    position: relative;
    height: 100%;
    width: 100%;
}
.collection-content > p {
    margin: 5px 0 10px 0;
}
.collection-content .collection-introduction {
    font-size: 10px;
}
/*** WEBSITES ***/
.collection-content .collection-website-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.collection-content .collection-website-list li {
    flex: 0 1 21%;
    border: 1px solid #FFF;
    border-radius: 5px;
    margin: 2%;
    color: #58798C;
    padding: 10px;
    transition: all .1s linear;
    background-color: #FFF;
}
.collection-content .collection-website-list li:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .5);
}
.collection-content .collection-website-list li a {
    display: inline-block;
    font-weight: bold;
    letter-spacing: 0;
    font-weight: bold;
    width: 100%;
    text-align: center;
}
.collection-content .collection-website-list li a span {
    display: inline-block;
    vertical-align: middle;
    line-height: 32px;
}
.collection-content .collection-website-list li a i {
    display: inline-block;
    width: 32px;
    height: 32px;
    vertical-align: middle;
}
/** 设置各个网站icon **/
.icon-gh {
    background: url('icons/icons-sprites.png') -374px -380px;
}
.icon-fcc {
    background: url('icons/icons-sprites.png') -166px -380px;
}
.icon-cp {
    background: url('icons/icons-sprites.png') -270px -380px;
}
.icon-if {
    background: url('icons/icons-sprites.png') -380px -220px;
}
.icon-so {
    background: url('icons/icons-sprites.png') -10px -380px;
}
.icon-sf {
    background: url('icons/icons-sprites.png') -62px -380px;
}
.icon-nkw {
    background: url('icons/icons-sprites.png') -114px -380px;
}
.icon-wg {
    background: url('icons/icons-sprites.png') -380px -324px;
}
.icon-tt {
    background: url('icons/icons-sprites.png') -218px -380px;
}
.icon-rb {
    background: url('icons/icons-sprites.png') -450px -10px;
}
.icon-js {
    background: url('icons/icons-sprites.png') -380px -272px;
}
.icon-react {
    background: url('icons/icons-sprites.png') -322px -380px;
}
.collection-content .collection-website-list li a hr {
    border: none;
    height: 1px;
    background-color: #58798C;
    width: 90%;
    margin: 5px auto;
}
.collection-content .collection-website-list li a p {
    font-size: 15px;
    font-weight: normal;
    letter-spacing: 0px;
}

/*** BLOGS ***/
.collection-content .collection-blog-book {
    position: relative;
    background-color: #FFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .2);
    border-radius: 15px;
    overflow: hidden;
    margin: 40px 60px;
}
.collection-blog-book::before {
    content: '';
    position: absolute;
    top: 30px;
    left: 5%;
    width: 18px;
    height: 18px;
    margin-left: -15px;
    border-radius: 50%;
    background-color: rgb(57, 148, 187);
}
.collection-blog-book::after {
    content: '';
    position: absolute;
    bottom: 30px;
    left: 5%;
    width: 18px;
    height: 18px;
    margin-left: -15px;
    border-radius: 50%;
    background-color: rgb(57, 148, 187);
}
.collection-blog-book .collection-blog-list {
    position: relative;
    float: right;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #FFF;
}
.collection-blog-book .collection-blog-list::before {
    content: '';
    position: absolute;
    top: 0;
    left: -20px;
    width: 5px;
    height: 100%;
    background-color: #F56262;
    z-index: 2;
}
.collection-blog-list > li {
    flex:  0 1 100%;
    cursor: pointer; 
    border-bottom: 1px solid #DDD;
    margin: 0 20px 0 10px;
}
.collection-blog-list > li:last-of-type {
    border-bottom: none;
}
.collection-blog-list > li:hover .blog-item {
    text-decoration: underline;
}
.collection-blog-list > li:hover .blog-item i {
    transform: rotate(90deg);
}
.collection-blog-list > li .blog-item {
    display: block;
    color: #58798C;
    height: 40px;
    line-height: 40px;
    width: 100%;
    padding: 0 20px;
    text-align: start;
}
.collection-blog-list > li .blog-item  p {
    float: left;
}
.collection-blog-list > li .blog-item i {
    float: right;
    height:25px;
    width: 25px;
    margin-top: 7.5px;
    background: url('icons/icons-sprites.png') -450px -312px;
    transition: all .2s linear;
}
.collection-blog-list > li .blog-item-introduction {
    position: relative;
    color: #FFF;
    background-color: #58798C;;
    transition: height .5s .2s linear;
    overflow: hidden;
    height: 0;
}
.blog-item-introduction p {
    position: absolute;
    top: 5px;
    right: 20px;
    font-size: 12px;
}
.blog-item-introduction ul {
    text-align: start;
    font-size: 5px;
    padding: 5px 20px;
}
.blog-item-introduction ul li {
    height: 20px;
}

/*** BOOKS ***/
.collection-content .collection-book-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 40px 0;
}
.collection-book-list li {
    flex: 0 1 25%;
    color: #FFF;
    text-align: center;
    margin-bottom: 20px;
}
.collection-book-list li p {
    font-size: 10px;
    margin-top: 10px;
}
/*** BOOK ***/
.book {
    position: relative;
	width: 110px; 
    height: 140px;
    margin: 0 auto;
	perspective: 1000px;
    transform-style: preserve-3d;
    cursor: pointer;
}
.hardcover-front,
.hardcover-back,
.book-spine,
.hardcover-front li,
.hardcover-back li,
.book-spine li {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transform-style: preserve-3d;
}
.hardcover-front,
.hardcover-back {
	transform-origin: 0% 100%;
}
.hardcover-front {
	transform: rotateY(-34deg) translateZ(0px);
    z-index: 100;
    transition: all 0.8s ease, z-index 0.6s;
}
.hardcover-front li:first-child {
	cursor: default;
	user-select: none;
    transform: translateZ(2px);
    background-color: #EEE;
    backface-visibility: hidden;
}
.hardcover-front li:first-child img {
    width: 100%;
    height: 100%;
}
.hardcover-front li:last-child {
    transform: rotateY(180deg) translateZ(2px);
    background: #FFFBEC;
}
.hardcover-back {
	transform: rotateY(-15deg) translateZ(-6px);
}
.hardcover-back li:first-child {
    transform: translateZ(2px);
    background: #FFFBEC;
}
.hardcover-back li:last-child {
    transform: translateZ(-2px);
    background: #FFFBEC;
}
.book-spine {
	transform: rotateY(60deg) translateX(0px) translateZ(-12px);
	width: 16px;
	z-index: 0;
}
.book-spine li:first-child {
    background: #EEE;;
	transform: translateZ(2px);
}
.page,
.page > li {
	position: absolute;
	top: 0;
	left: 0;
	transform-style: preserve-3d;
}
.page {
	width: 100%;
	height: 98%;
	top: 1%;
	left: 3%;
	z-index: 10;
}
.page > li {
	width: 100%;
	height: 100%;
	transform-origin: left center;
	transition-property: transform;
    transition-timing-function: ease;
    background: linear-gradient(to right, #e1ddd8 0%, #fffbf6 100%);
	border-radius: 0px 5px 5px 0px;
}
.page > li:nth-child(1) {
	transform: rotateY(-28deg) translateZ(-2px);
	transition-duration: 0.6s;
}
.page > li:nth-child(2) {
	transform: rotateY(-30deg) translateZ(-2px);
	transition-duration: 0.6s;
}
.page > li:nth-child(3) {
	transform: rotateY(-32deg) translateZ(-2px);
	transition-duration: 0.4s;
}
.page > li:nth-child(4) {
	transform: rotateY(-34deg) translateZ(-2px);
    transition-duration: 0.5s;
}
.page > li:nth-child(2) a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70px;
    font-weight: bold;
    height: 20px;
    border: 2px solid;
    color: #666;
    font-size: 8px;
    text-align: center;
}
.page > li:nth-child(2) a:hover {
    color: rgb(17, 105, 174);
}
.page > li:nth-child(5) {
	transform: rotateY(-36deg) translateZ(-2px);
	transition-duration: 0.6s;
}
.hardcover-front li:first-child::after,
.hardcover-front li:first-child::before,
.book-spine li:first-child::after,
.book-spine li:first-child::before {
    content: '';
    position: absolute;
	top: 0;
	left: 0;
	background: #AAC7D9;
}
.hardcover-front li:first-child::after,
.hardcover-front li:first-child::before,
.book-spine li:first-child::after,
.book-spine li:first-child::before {
	width: 4px;
	height: 100%;
}
.book-spine li:first-child::after {
	transform: rotateY(90deg) translateZ(-2px) translateX(2px);
}
.book-spine li:first-child::before {
	transform: rotateY(-90deg) translateZ(-12px);
}
.book:hover > .hardcover-front {
	transform: rotateY(-145deg) translateZ(0);
	z-index: 0;
}
.book:hover > .page li:nth-child(1) {
	transform: rotateY(-30deg);
	transition-duration: 1.5s;
}
.book:hover > .page li:nth-child(2) {
	transform: rotateY(-35deg);
	transition-duration: 1.8s;
}
.book:hover > .page li:nth-child(3) {
	transform: rotateY(-118deg);
	transition-duration: 1.6s;
}
.book:hover > .page li:nth-child(4) {
	transform: rotateY(-130deg);
	transition-duration: 1.4s;
}
.book:hover > .page li:nth-child(5) {
	transform: rotateY(-140deg);
	transition-duration: 1.2s;
}
/*** OTHERS ***/
.collection-content .collection-other-list {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: nowrap;
    padding: 30px 60px;
}
.collection-other-list > li {
    flex: 0 1;
    text-align: center;
    margin: 0 50px;
}
.collection-other-list > li:first-of-type {
    flex-basis: 30%;
}
.collection-other-list > li:last-of-type {
    flex-basis: 65%;
}
.paper {
    position: relative;
    background-color: #FFF;
    color: #58798C;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, .2);
    padding: 20px;
}
.paper::before {
    content: '';
    position: absolute;
    top: -15px;
    left: -40px;
    width: 80px;
    height:30px;
    background-color: rgba(0, 0, 0, .1);
    transform: rotateZ(-30deg);
}
.paper::after {
    content: '';
    position: absolute;
    top: -15px;
    right: -40px;
    width: 80px;
    height:30px;
    background-color: rgba(0, 0, 0, .1);
    transform: rotateZ(30deg);
}
.paper ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
}
/*** Public Account ***/
.public-account-list li {
    position: relative;
    flex: 0 1 45%;
    text-align: center;
    padding: 10px;
    font-size: 12px;
}
.public-account-list li > i {
    display: block;
    width:50px;
    height: 50px;
    cursor: pointer;
}
.icon-infoq {
    background: url('icons/icons-sprites.png') -380px -80px;
}
.icon-cxytt {
    background: url('icons/icons-sprites.png') -290px -310px;
}
.icon-qddq {
    background: url('icons/icons-sprites.png') -80px -310px;
}
.icon-qdkf {
    background: url('icons/icons-sprites.png') -310px -80px;
}
.public-account-list li > i:hover + .qr-code {
    display: block;
}
.public-account-list li .qr-code{
    position: absolute;
    top: 80px;
    left: 0;
    margin-left: -40px;
    width: 150px;
    height: 150px;
    padding: 10px;
    z-index: 2;
    background-color: #AAC7D9;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    display: none;
}
.public-account-list li .qr-code::before {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    top: -15px;
    left: 50%;
    margin-left: -12.5px;
    border-left: 15px solid transparent;
    border-bottom: 15px solid #AAC7D9;
    border-right: 15px solid transparent;  
}
.public-account-list li .qr-code i {
    display: block;
    width:130px;
    height: 130px;
}
.icon-infoq-code {
    background: url('icons/icons-sprites.png') -160px -160px;
}
.icon-cxytt-code {
    background: url('icons/icons-sprites.png') -10px -160px;
}
.icon-qddq-code {
    background: url('icons/icons-sprites.png') -160px -10px;
}
.icon-qdkf-code {
    background: url('icons/icons-sprites.png') -10px -10px;
}
/*** CSS Color ***/
.css-color-list li {
    position: relative;
    flex: 0 1 20%;
    text-align: center;
    margin: 7px 0;
}
.css-color-list li .color {
    width: 30px;
    height: 30px;
    border-radius: 10px 5px 10px 5px;
    margin: 0 auto;
}
.css-color-list li:nth-of-type(1) .color {
    background-color: #4CAF50;
}
.css-color-list li:nth-of-type(2) .color {
    background-color: #008CBA;
}
.css-color-list li:nth-of-type(3) .color {
    background-color: #F44336;
}
.css-color-list li:nth-of-type(4) .color {
    background-color: #E7E7E7;
}
.css-color-list li:nth-of-type(5) .color {
    background-color: #F4511E;
}
.css-color-list li:nth-of-type(6) .color {
    background-color: #3498DB;
}
.css-color-list li:nth-of-type(7) .color {
    background-color: #A18CD1;
}
.css-color-list li:nth-of-type(8) .color {
    background-color: #FBC2EB;
}
.css-color-list li:nth-of-type(9) .color {
    background-color: #FF9966;
}
.css-color-list li:nth-of-type(10) .color {
    background-color: #6699CC;
}
.css-color-list li:nth-of-type(11) .color {
    background-color: #DC3228;
}
.css-color-list li:nth-of-type(12) .color {
    background-color: #A0CF67;
}
.css-color-list li:nth-of-type(13) .color {
    background-color: #22C7A9;
}
.css-color-list li:nth-of-type(14) .color {
    background-color: #F56262;
}
.css-color-list li:nth-of-type(15) .color {
    background-color: #F45B69;
}
.css-color-list li:nth-of-type(16) .color {
    background-color: #2E2E3E;
}
.css-color-list li:nth-of-type(17) .color {
    background-color: #5D616D;
}
.css-color-list li:nth-of-type(18) .color {
    background-color: #353948;
}
.css-color-list li:nth-of-type(19) .color {
    background-color: #324B4B;
}
.css-color-list li:nth-of-type(20) .color {
    background-color: #FCCF4D;
}
.css-color-list li p {
    font-size: 12px;
    letter-spacing: 0px;
}
/*** CONTACT ***/
.contact {
    color: #FFF;
    background: linear-gradient(to bottom, rgba(34,125,170,1) 0%, rgba(81,172,205,1) 100%);
    opacity: 1;
    transform: none;
}
.contact .icon-text::after {
    background-color: #FFF;
}
.icon-contact {
    background: url('icons/icons-sprites.png') -10px -310px;
}
.mail {
    display: flex;
    justify-content: start;
    align-items: center;
}
.mail-box-bg {
    flex: 0 1 150px;
    position: relative;
    height: 150px;
    background-color: #FFF;
    border-radius: 50%;
    overflow: hidden;
}
.mail-box {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -40px;
    margin-top: -20px;
    width: 80px;
    height: 40px;
    border-radius: 15px 15px 0 0;
    background-color: rgb(34,125,170);
    animation: mail-in .5s .5s ease-in-out both;
    display: none;
}
.mail-box::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 100%;
    border-radius: 15px 15px 0 0;
    background-color: rgb(81,172,205);
}
.mail-box::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -3px;
    width: 6px;
    height: 55px;
    background-color: rgb(34,125,170);
}
.mail-box .mail-flag {
    position: absolute;
    bottom: 25px;
    left: 45px;
    width: 4px;
    height: 32px;
    background-color: #F56262;
    z-index: 2;
    animation: flag-in .3s 1s ease-in-out both;
    transform-origin: 50% 100%;
}
.mail-box .mail-flag::before {
    content: '';
    position: absolute;
    top: 95%;
    left: 50%;
    width: 4px;
    height: 4px;
    border: 4px solid #F56262;
    margin-left: -6px;
    border-radius: 50%;
}
.mail-box .mail-flag::after {
    content: '';
    position: absolute;
    top: -6px;
    left: 0;
    width: 18px;
    height: 12px;
    background-color: #F56262;
}
.email-address, .github-address {
    float: left;
    margin: 0 40px;
    flex: 0 1 auto;
    opacity: 0;
}
.email-address p, .github-address p {
    font-size: 12px;
    color: #AAC7D9;
    margin-bottom: 5px;
}
.github-address a {
    color: #FFF;
}
.github-address a:hover {
    text-decoration: underline;
}
.github-link img {
    background-color: #FFF;
    height: 100px;
    width: 100px;
}
@keyframes mail-in {
    0% {
        transform: translateY(125px);
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes flag-in {
    0% {
        transform: rotateZ(-90deg);
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes address-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/*** FadeIn ***/
.fade-in {
    opacity: 1;
    transform: none;
}