*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 1px;
}

/*** 通用样式 ***/
.block {
    position: relative;
    width: 100%;
    padding: 100px;
    overflow: hidden;
}
.main {
    float: left;
    width: 80%;
}
.icon {
    float: left;
    width: 20%;
}
.icon-text {
    position: relative;
    margin-bottom: 20px;
    font-weight: bold;
}
.icon-text::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 50px;
    height: 4px;
}
.icon-img {
    width: 50px;
    height: 50px;
}
ul li {
    list-style: none;
}
a {
    cursor: pointer;
}
.cover {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .3);
    z-index: 10;
    display: none;
}

/*** NAV ***/ 
.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    padding: 0 60px;
    background-color: rgb(34, 125, 170);
    box-shadow: 0px 2px 10px rgba(0, 0, 0, .2);
    line-height: 70px;
    font-size: 20px;
    font-weight: bold;
    z-index: 9;
    color: #FFF;
}
.nav .title {
    float: left;
    width: 120px;
    margin-left: 140px;
    font-size: 25px;
    cursor: pointer;
    position: relative;
}
.nav .title::after {
    content: '';
    position: absolute;
    top: 10px;
    left: -10px;
    height: 50px;
    width: 140px;
    border: 3px solid #FFF;
    opacity: 0;
    transition: opacity .3s linear;
}
.nav .title:hover::after {
    opacity: 1;
}
.nav .nav-list {
    display: flex;
    float: right;
    justify-content: center;
    align-items: center;
    width: 65%;
    text-align: center;
}
.nav .nav-list li {
    position: relative;
    flex: 1 1 auto;
    float: left;
    cursor: pointer;
}
.nav .nav-list li::after {
    content: '';
    position: absolute;
    bottom: 10px;
    left: 100%;
    width: 0;
    height: 100%;
    border-bottom: 3px solid #FFF;
    transition: all .2s .1s linear;
}
.nav .nav-list li:hover::after {
    left: 0;
    width: 100%;
}
.nav .nav-list li:hover ~ li::after {
    left: 0;
}

/*** HEADER **/
.header {
    position: relative;
    width: 100%;
    height: 500px;
    color: #FFF;
    background: linear-gradient(to bottom, rgba(34,125,170,1) 0%, rgba(81,172,205,1) 100%);
    padding: 100px;
}

.introduction {
    position: absolute;
    left: 100px;
    top: 50%;
    transform: translateY(-50%);
    color: #FFF;
}
.introduction .introduction-job {
    font-size: 50px;
    font-weight: bold;
    position: relative;
    margin-bottom: 30px;
}
.introduction .introduction-job::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 50px;
    height: 4px;
    background-color: #FFF;
}
.introduction .introduction-description {
    font-size: 16px;
}

/*** ABOUT ***/
.about {
    color: rgb(34, 125, 170);
}
.about .icon-text::after {
    background-color: rgb(34, 125, 170);
}
.information {
    color: #58798C;
}
.information .information-name {
    margin-bottom: 10px;
}

/*** EXPERIENCS ***/
.experience{
    color: #FFF;
    background: linear-gradient(to bottom, rgba(34,125,170,1) 0%, rgba(81,172,205,1) 100%);
}

.experience .icon-text::after {
    background-color: #FFF;
}
.experience-list li {
    padding: 20px;
    border: 1px solid #FFF;
    border-radius: 10px;
    transition: background-color .2s ease-in-out;
}
.experience-list li:not(:last-child) {
    margin-bottom: 50px;
}
.experience-list li:hover {
    background-color: rgba(255, 255, 255, .1);
}
.experience-name img {
    display: inline-block;
    margin-left: 5px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.experience-time {
    margin: 10px 0;
    color: #AAC7D9;
}
.experience-introduction, .experience-job {
    margin-top: 10px;
    color: #DEEEF5;
}

/*** SKILLSET ***/
.skillset {
    color: rgb(34, 125, 170);
}
.skillset .icon-text::after {
    background-color: rgb(34, 125, 170);
}
.skill-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.skill-list li {
    display: inline-block;
    width: 50%;
    height: 70px;
}
.skill-percentage {
    margin-top: 5px;
    position: relative;
    height: 10px;
    width: 85%;
    background-color: #DEEEF5;
}
.skill-percentage::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 50%;
    background: linear-gradient(to right, rgba(34,125,170,1) 0%, rgba(81,172,205,1) 100%);
}
.skill-percentage::before {
    content: '50%';
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 30px;
    height: 30px;
    color: #FFF;
    border-radius: 50%;
    background-color: rgb(81,172,205);

}

/***EDUCATION ***/
.education {
    color: #FFF;
    background: linear-gradient(to bottom, rgba(34,125,170,1) 0%, rgba(81,172,205,1) 100%);
}
.education .icon-text::after {
    background-color: #FFF;
}
.education-time {
    color: #AAC7D9;
}
.education-profession {
    margin: 10px 0;
}
.education-school {
    color: #DEEEF5;
}
.education-books {
    margin-top: 10px;
    color: #DEEEF5;
}

/*** WORKS ***/
.works {
    color: rgb(34, 125, 170);
}
.works .icon-text::after {
    background-color: rgb(34, 125, 170);
}
.work-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.work-list > li {
    display: inline-block;
    width: 50%;
    margin-bottom: 50px;
}
.work-list > li .work-img{
    position: relative;
    width: 80%;
    border: 1px solid #DDD;
    border-radius: 10px;
    cursor: pointer;
    transition: all .3s linear;
}
.work-list > li .work-img:hover {
    transform: translateY(-4px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}
.work-name {
    display: block;
    margin: 10px 0;
    font-weight: bold;
}
.work-name img {
    display: inline-block;
    margin-left: 3px;
    width: 15px;
    height: 15px;
    cursor: pointer;
}
.work-technology-list li {
    float: left;
    padding: 10px;
    margin-right: 10px;
    text-align: center;
    line-height: 10px;
    font-size: 12px;
    color: #AAA;
    border: 1px solid #DDD;
    border-radius: 5px;
}

/*** NOTES ***/
.notes {
    color: #FFF;
    background: linear-gradient(to bottom, rgba(34,125,170,1) 0%, rgba(81,172,205,1) 100%);
}
.notes .icon-text::after {
    background-color: #FFF;
}
.note-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.note-list > li {
    position: relative;
    display: inline-block;
    width: 50%;
    margin: 10px 0;
}
.note-description {
    position: relative;
    left: 17.5%;
    width: 65%;
    height: 300px;
    padding: 30px 30px 30px 19%;
    color: #FFF;
    border-radius: 4px;
    transition: all .5s linear;
    perspective: 1000px;
    cursor: pointer;
}
.note-description img {
    position: absolute;
    top: 50%;
    left: 0;
    width: 35%;
    transform: translate(-50%, -50%);
    z-index: 8;
    transform-style: preserve-3d;
    transition: all .5s linear;
}
.note-description h3 + p {
    color: #AAC7D9;
    font-size: 10px;
}
.note-description p {
    margin: 10px 0;
}
.note-description button {
    position: absolute;
    bottom: 30px;
    width: 70px;
    height: 30px;
    border: none;
    border-radius: 3px;
    background-color: #AAC7D9;
    color: #FFF;
    cursor: pointer;
    outline: none;
    transition: all .5s linear;
}
.note-description:hover {
    background-color: rgb(34,125,170);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}
.note-description:hover img {
    transform: translate(-50%, -50%) rotateY(30deg);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}
.note-description:hover button {
    color: rgb(34, 125, 170);
    background-color: #FFF;
}
.note-details {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 45%;
    height: 65%;
    transform: translate(-50%, -50%);
    background-color: #FFF;
    color: rgb(34, 125, 170);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    border-radius: 5px;
    z-index: 11;
    /*** 显示注释 ***/
    display: none;
}
.note-details .img-bg {
    float: left;
    width: 30%;
    height: 100%;
    border-radius: 5px 0 0 5px;
}
.note-details img {
    position: absolute;
    top: 50%;
    left: 0;
    width: 30%;
    transform: translate(10%, -50%);
    box-shadow: 0 0 10px rgba(0, 0, 0, .4);
}
.note-content {
    float: right;
    width: 65%;
    height: 100%;
    padding: 30px;
    overflow-y: scroll;
}
.note-content p {
    margin: 10px 0;
    color: #AAC7D9;
}
.note-content li {
    margin: 10px 0;
    color: #000;
    list-style: decimal;
}
.note-css .note-details .img-bg {
    background-color: rgb(23, 88, 168);
}
.note-js .note-details .img-bg {
    background-color: rgb(247, 223, 29);
}
.note-jq .note-details .img-bg {
    background-color: rgb(17, 105, 174);
}
.note-react .note-details .img-bg {
    background-color: rgb(34, 34, 34);
}

/*** COLLECTIONS ***/
.collections {
    color: rgb(34, 125, 170);
}
.collections .icon-text::after {
    background-color: rgb(34, 125, 170);
}
.collection-list {
    position: relative;
    overflow: hidden;
    height: 500px;
    border-radius: 15px;
}
.collection-list > li {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    color: #FFF;
    width: 100%;
    height: 500px;
    border-radius: 15px;
    transition: all 1s linear;
    text-align: center;
}
.collection-list > li::after {
    content: '';
    position: absolute;
    top: 0;
    right: -38px;
    width: 40px;
    height: 25%;
    border-radius: 0 15px 15px 0;
    z-index: 1;
    cursor: pointer;
}
.collection-list > li:hover ~ li {
    transform: translateX(-100%);
}
.collection-list .collection-website {
    background-color: rgb(34,125,170);
    width: 78%;
    border-top-right-radius: 0;
    z-index: 5;
}
.collection-list .collection-website::after {
    background-color: rgb(34,125,170);
}
.collection-list .collection-blog {
    background-color: rgb(81,172,205);
    width: 82%;
    z-index: 4;
}
.collection-list .collection-blog::after {
    background-color: rgb(81,172,205);
    top: 25%;
}
.collection-list .collection-book {
    background-color: #AAC7D9;
    width: 86%;
    z-index: 3;
}
.collection-list .collection-book::after {
    background-color: #AAC7D9;
    top: 50%; 
}
.collection-list .collection-css {
    background-color: #EEE;
    width: 90%;
    border-bottom-right-radius: 0;
    z-index: 2;
}
.collection-list .collection-css::after {
    background-color: #EEE;
    top: 75%;   
}
.collection-list li .collection-content {
    position: relative;
    height: 100%;
    width: 100%;
    padding: 20px;
}
.collection-content h2 {
    margin-bottom: 10px;
}
.collection-content .collection-introduction {
    color: #AAC7D9;
    font-size: 10px;
}
.collection-content ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.collection-content ul li {
    flex: 0 1 21%;
    background-color: #FFF;
    border-radius: 5px;
    margin: 2%;
    color: rgb(23, 88, 168);
    padding: 10px;
}
.collection-content ul li a {
    display: inline-block;
    font-size: 18px;
    letter-spacing: 0;
    font-weight: bold;
}
.collection-content ul li a img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    vertical-align: middle;
}
.collection-content ul li hr {
    border: none;
    height: 1px;
    background-color: rgb(23, 88, 168);
    margin: 5px 0;
}

/*** CONTACT ***/
.contact {
    color: #FFF;
    background: linear-gradient(to bottom, rgba(34,125,170,1) 0%, rgba(81,172,205,1) 100%);
}
.contact .icon-text::after {
    background-color: #FFF;
}
