*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 1px;
}

/*** 通用样式 ***/
.block {
    position: relative;
    width: 100%;
    padding: 100px;
    overflow: hidden;
}
.main {
    float: left;
    width: 80%;
}
.icon {
    float: left;
    width: 20%;
}
.icon-text {
    position: relative;
    margin-bottom: 20px;
    font-weight: bold;
}
.icon-text::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 50px;
    height: 4px;
}
.icon-img {
    width: 50px;
    height: 50px;
}
ul li {
    list-style: none;
}

/*** HEADER **/
.header {
    position: relative;
    width: 100%;
    height: 500px;
    color: #FFF;
    background: linear-gradient(to bottom, rgba(34,125,170,1) 0%, rgba(81,172,205,1) 100%);
    padding: 100px;
}
.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    padding: 0 60px;
    background-color: rgb(34, 125, 170);
    box-shadow: 0px 2px 10px rgba(0, 0, 0, .2);
    line-height: 70px;
    font-size: 20px;
    font-weight: bold;
    z-index: 2;
}
.nav .title {
    float: left;
    width: 120px;
    margin-left: 140px;
    font-size: 25px;
    cursor: pointer;
    position: relative;
}
.nav .title::after {
    content: '';
    position: absolute;
    top: 10px;
    left: -10px;
    height: 50px;
    width: 140px;
    border: 3px solid #FFF;
    opacity: 0;
    transition: opacity .3s linear;
}
.nav .title:hover::after {
    opacity: 1;
}
.nav .nav-list {
    display: flex;
    float: right;
    justify-content: center;
    align-items: center;
    width: 65%;
    text-align: center;
}
.nav .nav-list li {
    position: relative;
    flex: 1 1 auto;
    float: left;
    cursor: pointer;
}
.nav .nav-list li::after {
    content: '';
    position: absolute;
    bottom: 10px;
    left: 100%;
    width: 0;
    height: 100%;
    border-bottom: 3px solid #FFF;
    transition: all .2s .1s linear;
}
.nav .nav-list li:hover::after {
    left: 0;
    width: 100%;
}
.nav .nav-list li:hover ~ li::after {
    left: 0;
}
.introduction {
    position: absolute;
    left: 100px;
    top: 50%;
    transform: translateY(-50%);
    color: #FFF;
}
.introduction .introduction-job {
    font-size: 50px;
    font-weight: bold;
    position: relative;
    margin-bottom: 30px;
}
.introduction .introduction-job::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 50px;
    height: 4px;
    background-color: #FFF;
}
.introduction .introduction-description {
    font-size: 16px;
}

/*** ABOUT ***/
.about {
    color: rgb(34, 125, 170);
}
.about .icon-text::after {
    background-color: rgb(34, 125, 170);
}
.information {
    color: #58798C;
}
.information .information-name {
    margin-bottom: 10px;
}

/*** EXPERIENCS ***/
.experience{
    color: #FFF;
    background: linear-gradient(to bottom, rgba(34,125,170,1) 0%, rgba(81,172,205,1) 100%);
}

.experience .icon-text::after {
    background-color: #FFF;
}
.experience-list li {
    padding: 20px;
    border: 1px solid #FFF;
    border-radius: 10px;
    transition: background-color .2s ease-in-out;
}
.experience-list li:not(:last-child) {
    margin-bottom: 50px;
}
.experience-list li:hover {
    background-color: rgba(255, 255, 255, .1);
}
.experience-name a {
    display: inline-block;
    background: url(icons/link-icon.png) no-repeat;
    background-size: 100%;
    margin-left: 10px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.experience-time {
    margin: 10px 0;
    color: #AAC7D9;
}
.experience-introduction, .experience-job {
    margin-top: 10px;
    color: #DEEEF5;
}

/*** SKILLSET ***/
.skillset {
    color: rgb(34, 125, 170);
}
.skillset .icon-text::after {
    background-color: rgb(34, 125, 170);
}
.skill-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.skill-list li {
    display: inline-block;
    width: 50%;
    height: 70px;
}
.skill-percentage {
    margin-top: 5px;
    position: relative;
    height: 10px;
    width: 85%;
    background-color: #DEEEF5;
}
.skill-percentage::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 50%;
    background: linear-gradient(to right, rgba(34,125,170,1) 0%, rgba(81,172,205,1) 100%);
}
/***EDUCATION ***/
.education {
    color: #FFF;
    background: linear-gradient(to bottom, rgba(34,125,170,1) 0%, rgba(81,172,205,1) 100%);
}
.education .icon-text::after {
    background-color: #FFF;
}
.education-time {
    color: #AAC7D9;
}
.education-profession {
    margin: 10px 0;
}
.education-school {
    color: #DEEEF5;
}
.education-books {
    margin-top: 10px;
    color: #DEEEF5;
}